{{!-- private cabinet sidebar --}}
<aside class="sidebar">
  <div>
    <div class="sidebar__name">
      <div class="sidebar__icon-wrapper">
        <img src="/assets/img/logo.svg" alt="">
      </div>
    </div>
    <ul class="sidebar__nav">
      <li class="sidebar__nav-item {{#if isDashboard}}active{{/if}}">
        <a href="/cabinet/dashboard">
          <img src="/assets/img/dashboard-icon.svg" alt="">
          Дашборд
        </a>
      </li>
      <li class="sidebar__nav-item">
        <a href="#">
          <img src="/assets/img/projects-icon.svg" alt="">
          Мои проекты
        </a>
      </li>
      <li class="sidebar__nav-item {{#if isOverallRating}}active{{/if}}">
        <a href="/cabinet/overall-rating">
          <img src="/assets/img/star-icon.svg" alt="">
          Общий рейтинг
        </a>
      </li>
      <li class="sidebar__nav-item {{#if isProfile}}active{{/if}}">
        <a href="/cabinet/profile">
          <img src="/assets/img/profile-icon.svg" alt="">
          Мой профиль
        </a>
      </li>
      <li class="sidebar__nav-item {{#if isReports}}active{{/if}}">
        <a href="/cabinet/prereports">
          <img src="/assets/img/reports-icon.svg" alt="">
          Мои отчеты
        </a>
      </li>
    </ul>
  </div>
  <div class="sidebar__exit">
    <!-- Чтобы отображалось окно с подтверждением выхода, нужно добавить 
    к блоку sidebar__quest класс active -->
    <div class="sidebar__quest exit-window">
      <p class="sidebar__quest-title">
        Вы хотите выйти?
      </p>
      <div class="sidebar__quest-buttons">
        <button class="sidebar__quest-cancel">
          Отмена
        </button>
        <button class="sidebar__quest-agree">
          Да
        </button>
      </div>
    </div>
    <button class="sidebar__exit_button">
      <img src="/assets/img/exit-icon.svg" alt="">
      Выйти из аккаунта
    </button>
  </div>
</aside>
<script>
  const logoutBtn = document.querySelector('.exit-window .sidebar__quest-agree');
  logoutBtn.addEventListener('click', function () {
    window.location.href = '/logout';
  });
</script>