.overall-rating.container {
  margin-left: 30vw;
}

.cabinet__overall-rating_header {
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 4vh;
}

.cabinet__overall-rating_header h1 {
  font-size: 36px;
  font-weight: 700;
}

.cabinet__overall-rating_header h5 {
  font-size: 20px;
  font-weight: 700;
}

.cabinet__overall-rating_content table {
  font-size: 18px;
}

.cabinet__overall-rating_content table,
.cabinet__overall-rating_content td,
.cabinet__overall-rating_content th {
  border: 1px solid black;
}

.cabinet__overall-rating_content td,
.cabinet__overall-rating_content th {
  padding: 1vh 2vw;
}
