<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {{!-- fonts --}}
  <link rel="stylesheet"
    href="https://cdn.rawgit.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css">

  {{!-- libs --}}
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

  {{!-- pages --}}


  {{!-- sections --}}
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/report-storage.css">
  <link rel="stylesheet" href="/css/admin-report-filter.css">
  <link rel="stylesheet" href="/css/cabinet-overall-rating.css">
  <link rel="stylesheet" href="/css/main.css">

  <title>{{title}}</title>
</head>