{{!-- login sidebar --}}
<aside class="sidebar">
  <div class="sidebar__name">
    <div class="sidebar__icon-wrapper">
      <img src="/assets/img/logo.svg" alt="">
    </div>
  </div>
  <div class="sidebar__img-wrapper">
    <img class="sidebar__img" src="/assets/img/sidebar-img.svg" alt="">
  </div>
</aside>