{{!-- private cabinet sidebar --}}
<aside class="sidebar">
  <div>
    <div class="sidebar__name">
      <div class="sidebar__icon-wrapper">
        <a href="/">
          <img src="/assets/img/logo.svg" alt="">
        </a>
      </div>
    </div>
    <ul class="sidebar__nav">
      <li class="sidebar__nav-item {{#if isUserDashboard}}active{{/if}}">
        <a href="/admin/user-dashboard/{{user._id}}">
          <img src="/assets/img/dashboard-icon.svg" alt="">
          Dashboard
        </a>
      </li>
      <li class="sidebar__nav-item">
        <a href="#">
          <img src="/assets/img/projects-icon.svg" alt="">
          My projects
        </a>
      </li>
      <li class="sidebar__nav-item">
        <a href="#">
          <img src="/assets/img/star-icon.svg" alt="">
          Overall rating
        </a>
      </li>
      <li class="sidebar__nav-item {{#if isUserProfile}}active{{/if}}">
        <a href="/admin/user-profile/{{user._id}}">
          <img src="/assets/img/profile-icon.svg" alt="">
          My profile
        </a>
      </li>
      <li class="sidebar__nav-item {{#if isUserReports}}active{{/if}}">
        <a href="/admin/user-prereports/{{user._id}}">
          <img src="/assets/img/reports-icon.svg" alt="">
          My reports
        </a>
      </li>
    </ul>
  </div>
  <div class="sidebar__exit">
    <!-- Чтобы отображалось окно с подтверждением выхода, нужно добавить 
    к блоку sidebar__quest класс active -->
    <div class="sidebar__quest exit-window">
      <p class="sidebar__quest-title">
        Do you want to leave?
      </p>
      <div class="sidebar__quest-buttons">
        <button class="sidebar__quest-cancel">
          Cancel
        </button>
        <button class="sidebar__quest-agree">
          Yes
        </button>
      </div>
    </div>
    <button class="sidebar__exit_button">
      <img src="/assets/img/exit-icon.svg" alt="">
      Sign out
    </button>
  </div>
</aside>
<script>
  const logoutBtn = document.querySelector('.exit-window .sidebar__quest-agree');
  logoutBtn.addEventListener('click', function () {
    window.location.href = '/logout';
  });
</script>